*
{
	color:white;
}

html,body
{
	overflow-x: hidden;
}

.nav 
{
	justify-content:right;
}

.navm
{
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  lef: 0;
  right: 0;
  height: 4.2rem;
  box-shadow: 0px 0px 20px 0px black;
  margin-top: -0.925rem;
  background-color: #243BE3;
  width: 100%;
  z-index: 100;
}

.nav a
{
	color:white;
}

.nav a:hover
{
	color:white;
}

.nav-item
{
	margin-right:0px;
	margin-left:1.25rem;
	margin-top:2rem;
}

.logo
{
	margin-top: 0.900rem;
	margin-bottom:-4.8rem;
}

.logo h3
{
	font-size: 2rem;
	margin-left:5.25rem;
	margin-top:-2.91rem;
}

.background
{
	background-image: url('https://d1aueex22ha5si.cloudfront.net/Conference/945/BackGround/abstract-motion-dark-blue-background-4k_41oqtyt7g__F0000-1545402311918.png');
	background-repeat: no-repeat,no-repeat;
	background-position:0px 0px, 0px 0px;
	background-attachment:scroll , fixed;
}







.card-body a
{
	color: white;
	text-decoration: none;
}

.cu 
{
	border-radius: 10px;
	box-shadow: 0px 0px 20px 0px black;
	margin: 100px auto;
	width: 50rem;
	background-color: rgba(0, 0, 0, 0.8);
}	

.cu1 
{
	border-radius: 10px;
	box-shadow: 0px 0px 20px 0px black;
	margin: 100px auto;
	width: 50rem;
	background-color: rgba(0, 0, 0, 0.8);
}	

.mcu
{
	margin-top: 100px;
}